.wrapper {
    margin: 15px auto;
    max-width: 700px;
  }
  .container-calendar {
    background: #ffffff;
    padding: 15px;
    width: 100%;
    margin: 0 auto;
    overflow: auto;
  }
  .button-container-calendar button {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: #00a2b7;
    color: #fff;
    border: 1px solid #0aa2b5;
    border-radius: 4px;
    padding: 5px 10px;
  }
  .table-calendar {
    border-collapse: collapse;
    width: 30%;
  }
  .table-calendar th,
  .table-calendar td{
    padding: 10px;
    border: 2px solid #e2e2e2;
    text-align: center;
    vertical-align: top;
  }
  .date-picker.selected {
    font-weight: bold;
    color: #fff;
    background: #cc0000;
  }
  .date-picker.selected span {
    border-bottom: 2px solid currentColor;
  }
  /* 日曜 */
  .date-picker:nth-child(1) {
  color: red;
  }
  /* 土曜 */
  .date-picker:nth-child(7) {
  color: blue;
  }
  #monthAndYear {
    text-align: center;
    margin-top: 0;
    margin-left: 70%;
  }
  .button-container-calendar {
    position: relative;
    margin-bottom: 1em;
    overflow: hidden;
    clear: both;
    margin-left: 70%;
  }
  #previous {
    float: left;
  }
  #next {
    float: right;
  }
  .footer-container-calendar {
    margin-top: 1em;
    padding: 10px 0;
  }
  .footer-container-calendar select {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: #ffffff;
    color: #454545;
    border: 2px solid #bfc5c5;
    border-radius: 3px;
    padding: 5px 1em;
  }