#smartwizard.sw-theme-arrows .sw-container {
    min-height: 200px
  }
  #smartwizard.sw-theme-arrows .step-content {
    padding: 10px 0;
    border: 0 solid #d4d4d4;
    background-color: #FFF;
    text-align: left
  }
  #smartwizard.sw-theme-arrows .sw-toolbar {
    background: #fff;
    border-radius: 0!important;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0!important
  }
  #smartwizard.sw-theme-arrows .sw-toolbar-top {
    border-bottom-color: #fff!important
  }
  #smartwizard.sw-theme-arrows .sw-toolbar-bottom {
    border-top-color: #fff!important;
    border-bottom-color: #ddd!important
  }
  #smartwizard.sw-theme-arrows>ul.step-anchor {
    display: block;
    border: 0 solid #ccc!important;
    padding: 0;
    background: #f5f5f5;
    border-radius: 5px;
    list-style: none;
    overflow: hidden;
    font-size: 20px;
    margin-top: 20px;
  }
  #smartwizard.sw-theme-arrows>ul.step-anchor li+li:before {
    padding: 0
  }
  #smartwizard.sw-theme-arrows>ul.step-anchor>li {
    float: left
  }
  #smartwizard.sw-theme-arrows>ul.step-anchor>li>a {
    color: #bbb;
    text-decoration: none;
    padding: 10px 0 10px 45px;
    position: relative;
    display: block;
    float: left;
    border-radius: 0;
    outline-style: none;
    background: #ddd;
    width:300px;
  }
  #smartwizard.sw-theme-arrows>ul.step-anchor>li>a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #ddd;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2
  }
  #smartwizard.sw-theme-arrows>ul.step-anchor>li>a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1
  }
  #smartwizard.sw-theme-arrows>ul.step-anchor>li:first-child>a {
    padding-left: 15px;
    width:300px;
  }
  #smartwizard.sw-theme-arrows>ul.step-anchor>li>a:hover {
    color: #bbb;
    text-decoration: none;
    outline-style: none;
  }
  #smartwizard.sw-theme-arrows>ul.step-anchor>li.clickable>a:hover {
    color: #4285f4!important;
    background: #46b8da!important
  }
  #smartwizard.sw-theme-arrows>ul.step-anchor>li.active>a {
    border-color: #5bc0de!important;
    color: #fff!important;
    background: #5bc0de!important
  }
  #smartwizard.sw-theme-arrows>ul.step-anchor>li.active>a:after {
    border-left: 30px solid #5bc0de!important
  }
  #smartwizard.sw-theme-arrows>ul.step-anchor>li.done>a {
    border-color: #5cb85c!important;
    color: #fff!important;
    background: #5cb85c!important
  }
  #smartwizard.sw-theme-arrows>ul.step-anchor>li.done>a:after {
    border-left: 30px solid #5cb85c
  }
  #smartwizard.sw-theme-arrows>ul.step-anchor>li.danger>a {
    border-color: #d9534f!important;
    color: #d9534f!important;
    background: #fff!important
  }
  #smartwizard.sw-theme-arrows>ul.step-anchor>li.disabled>a, .sw-theme-arrows>ul.step-anchor>li.disabled>a:hover {
    color: #eee!important
  }

  