h2{
    text-align: center;
    color: #08cbcb;
    font-size: 40px;
}


button {
    margin: 20px;
  }
  .custom-btn {
    width: 200px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     
    outline: none;
  }

  .btn-1{

    text-decoration: none;
    background:#0DA7BA;
    text-align:center;
    color:#FFFFFF;
    font-size:20px;
    font-weight:bold;
    border-radius:50px;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    
  }
  .btn-1:hover{
    background:#19CBE0;
    color:#FFFFFF;
    box-shadow:none;
  }
  
  
  p{
      display: inline-flex;
      font-size: 20px;
  }
/*問診表*/
div.clskw1i6vlu{
     margin:5px;
}
div.clskw1i6vlu div.tbl table{
    width:100%;
}
div.clskw1i6vlu div.tbl tr th.emph,div.clskw1i6vlu div.tbl tr td.emph{
    -webkit-box-shadow:inset #cccccc 0 0 0 1px;
    box-shadow:inset #cccccc 0 0 0 1px;
}
div.clskw1i6vlu div.tbl th.nowrap,div.clskw1i6vlu div.tbl td.nowrap{
    white-space:nowrap;
}
div.clskw1i6vlu{
    padding:0px;
}
div.clskw1i6vlu div.tbl th,div.clskw1i6vlu div.tbl td{
    border:1px solid #000000;
    padding:5px;
}
div.clskw1i6vlu th, div.clskw1i6vlu td{
    color:black;
}
div.clskw1i6vlu div.tbl table{
    border-collapse:collapse;
    border-spacing:0;
    table-layout:fixed;
}
div.clskw1i6vlu div.tbl,div.clskw1i6vlu div.tbl a{
    color:#000000;
}
div.clskw1i6vlu div.tbl{
    font-size:12px;
}
div.clskw1i6vlu div.tbl th,div.clskw1i6vlu div.tbl th a{
    color:#000000;
}
div.clskw1i6vlu div.tbl th{
    font-weight:bold;
    text-align:center;
}
div.clskw1i6vlu div.tbl tr th.emph,div.clskw1i6vlu div.tbl tr td.emph{
    -webkit-box-shadow:inset #cccccc 0 0 0 1px;
    box-shadow:inset #cccccc 0 0 0 1px;
}
div.clskw1i6vlu{
    background-color:transparent;
}

/*質問*/
div.clskw1lg3rg{
    margin:5px;
}
div.clskw1lg3rg div.tbl table{
    width:100%;
}
div.clskw1lg3rg div.tbl tr th.emph,div.clskw1lg3rg div.tbl tr td.emph{
    -webkit-box-shadow:inset #cccccc 0 0 0 1px;
    box-shadow:inset #cccccc 0 0 0 1px;
}
div.clskw1lg3rg div.tbl th.nowrap,div.clskw1lg3rg div.tbl td.nowrap{
    white-space:nowrap;
}
div.clskw1lg3rg{
    padding:0px;
}
div.clskw1lg3rg div.tbl th,div.clskw1lg3rg div.tbl_1 td{
    padding:5px;
}
div.clskw1lg3rg th, div.clskw1lg3rg td{
    color:#000000;
    font-size: 15px;
}
div.clskw1lg3rg div.tbl table{
    border-collapse:collapse;
    border-spacing:0;
    table-layout:fixed;
}
div.clskw1lg3rg div.tbl,div.clskw1lg3rg div.tbl a{
    color:#000000;
}
div.clskw1lg3rg div.tbl{
    font-size:12px;
}
div.clskw1lg3rg div.tbl th,div.clskw1lg3rg div.tbl th a{
    color:#000000;
}
div.clskw1lg3rg div.tbl th{
    font-weight:bold;
    text-align:center;
}
div.clskw1lg3rg div.tbl tr th.emph,div.clskw1lg3rg div.tbl tr td.emph{
    -webkit-box-shadow:inset #cccccc 0 0 0 1px;
    box-shadow:inset #cccccc 0 0 0 1px;
}
div.clskw1lg3rg{
    background-color:transparent;
}


.m_form{
    display:inline-flex;
}



