body {
    text-align: center;
  }
  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
    
  }
  
  

  .nav-link:hover{
   
      color: #ffffff;
      background-color: #000000;
      cursor: pointer
  }
  
  /*
   * Navbar
   */
  
  .navbar-brand1 {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
    text-decoration: none;
    white-space: nowrap;
  }
  
  .navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(189, 7, 7, 0.25);
  }




 

.slider_fade {
  position: relative;
}




  /*
   * Sidebar
   */
  
   .sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  @media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  .sidebar .nav-link {
    
    font-weight: 500;
    color: rgb(73, 65, 65);
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #8f2020;
  }
  
  .sidebar .nav-link.active {
    color: #2c69c4;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  




/*ホームボタン*/
.btn1 {
    color: #ffffff;
    background: transparent;
    border: none;
}

.btn1:hover{
  border: none;
}
/*入庫ボタン等*/
.btn2{
  
  color:#000000;
  background-color: transparent;
  width: 100%;
  border:none;
  font-size: 18px;
  
}
.btn2:hover{
  
  color:rgb(255, 255, 255);
  margin-left:0px;
  margin-top:0px;
  box-shadow:none;
  border:none;
}

.a1{
  color: #ffffff;
  font-size: 18px;
}
.a1:hover{
  color: #ffffff;
}







