
.wrapper {
    margin: 15px auto;
    max-width: 700px;
  }
  .container-calendar {
    background: #ffffff;
    padding: 15px;
    width: 70%;
    margin: 0 auto;
    overflow: auto;
  }
  .button-container-calendar button {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    color: black;
    border: 1px solid;
    border-radius: 4px;
    padding: 5px 10px;
  }
  .table-calendar {
    border-collapse: collapse;
    width: 100%;
  }
  .table-calendar th,
  .table-calendar td{
    padding: 10px;
    border: 2px solid #e2e2e2;
    text-align: center;
    vertical-align: top;
	font-size: 12px;
    cursor: pointer;
  }
  .date-picker.selected {
    color: rgb(0, 0, 0);
    background: #f4fd9d;
  }
  
  /* 日曜 */
  .date-picker:nth-child(1) {
  color: red;
  }
  /* 土曜 */
  .date-picker:nth-child(7) {
  color: blue;
  }
  #monthAndYear {
    text-align: center;
    margin-top: 0;
    
  }
  .button-container-calendar {
    position: relative;
    margin-bottom: 1em;
    overflow: hidden;
    clear: both;
    
  }
  
  .footer-container-calendar {
    margin-top: 1em;
    padding: 10px 0;
  }
  .footer-container-calendar select {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: #ffffff;
    color: #454545;
    border: 2px solid #bfc5c5;
    border-radius: 3px;
    padding: 5px 1em;
  } 

  