/*予約画面*/



h2{
    text-align: center;
    color: #fcfcfc;
    background: #08cbcb;
    font-size: 40px;
}


button {
    margin: 20px;
  }
  .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     
    outline: none;
  }
  /*当日予約ボタン*/
  .btn-1{
    
    text-decoration: none;
    background:#ba0d0d;
    text-align:center;
    color:#FFFFFF;
    font-size:20px;
    font-weight:bold;
    border-radius:50px;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    
}
.btn-1:hover{
    background:#e01919;
    color:#FFFFFF;
    box-shadow:none;
}
/*指定予約ボタン*/
.btn-2{

  text-decoration: none;
  background:#0DA7BA;
  text-align:center;
  color:#FFFFFF;
  font-size:20px;
  font-weight:bold;
  border-radius:50px;
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  
}
.btn-2:hover{
  background:#19CBE0;
  color:#FFFFFF;
  box-shadow:none;
}

.form{
    display:inline-flex;
}

/*------------------------------*/
.time{
    font-size: 20px;
    color:#000000;
    background-color: rgb(255, 255, 255);
}
.time:hover{
  color:rgb(255, 255, 255);
  background-color: #000000;
}
p{
    font-size: 25px;
}
/*--------------------------------------------*/
input [type="date"]{
  width:30%;
  font-size: 130%;
}


/*予約確認画面*/
.btn-4_1{
  width: 130px;
  height:100%;
  text-decoration: none;
  background:#2EBA1F;
  text-align:center;
  color:#FFFFFF;
  font-size:20px;
  font-weight:bold;
  border-radius:50px;
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  

}
.btn-4:hover{
  background:#33EB2C;
  color:#FFFFFF;
  box-shadow:none;
}

div.clskwe7b4eq{
  margin:5px;
}
div.clskwe7b4eq div.tbl table{
  width:100%;
}
div.clskwe7b4eq div.tbl tr th.emph,div.clskwe7b4eq div.tbl tr td.emph{
  -webkit-box-shadow:inset #cccccc 0 0 0 1px;
  box-shadow:inset #cccccc 0 0 0 1px;
}
div.clskwe7b4eq div.tbl th.nowrap,div.clskwe7b4eq div.tbl td.nowrap{
  white-space:nowrap;
}
div.clskwe7b4eq{
  padding:0px;
}
div.clskwe7b4eq div.tbl th,div.clskwe7b4eq div.tbl td{
  border:1px solid;
  padding:5px;
}
div.clskwe7b4eq th, div.clskwe7b4eq td{
  color:black;
}
div.clskwe7b4eq div.tbl table{
  border-collapse:collapse;
  border-spacing:0;
  table-layout:fixed;
  width:50%;
  border:1px solid;
}
div.clskwe7b4eq div.tbl,div.clskwe7b4eq div.tbl a{
  color:#000000;
}
div.clskwe7b4eq div.tbl{
  font-size:20px;
}
div.clskwe7b4eq div.tbl th,div.clskwe7b4eq div.tbl th a{
  color:#000000;
}
div.clskwe7b4eq div.tbl th{
  font-weight:bold;
  text-align:center;
  border:1px solid;
}
div.clskwe7b4eq div.tbl tr th.emph,div.clskwe7b4eq div.tbl tr td.emph{
  -webkit-box-shadow:inset #cccccc 0 0 0 1px;
  box-shadow:inset #cccccc 0 0 0 1px;
}
div.clskwe7b4eq{
  background-color:transparent;
}


/*予約者情報画面*/
div.clskwfslejl{
  margin:5px;
}
div.clskwfslejl div.tbl table{
  width:60%;
}
div.clskwfslejl div.tbl tr th.emph,div.clskwfslejl div.tbl tr td.emph{
  -webkit-box-shadow:inset #cccccc 0 0 0 1px;
  box-shadow:inset #cccccc 0 0 0 1px;
}
div.clskwfslejl div.tbl th.nowrap,div.clskwfslejl div.tbl td.nowrap{
  white-space:nowrap;
}
div.clskwfslejl{
  padding:10px;
}
div.clskwfslejl div.tbl th,div.clskwfslejl div.tbl td{
  border:1px solid #000000;
  padding:9px;
}
div.clskwfslejl tr:first-child th, div.clskwfslejl tr:first-child td{
  background-color:#ffffff;
}
div.clskwfslejl div.tbl table{
  border-collapse:collapse;
  border-spacing:0;
  table-layout:fixed;
}
div.clskwfslejl div.tbl,div.clskwfslejl div.tbl a{
  color:#000000;
}
div.clskwfslejl div.tbl{
  font-size:15px;
}
div.clskwfslejl div.tbl th,div.clskwfslejl div.tbl th a{
  color:#000000;
}
div.clskwfslejl div.tbl th{
  font-weight:bold;
  text-align:center;
}
div.clskwfslejl div.tbl tr th.emph,div.clskwfslejl div.tbl tr td.emph{
  -webkit-box-shadow:inset #000000 0 0 0 1px;
  box-shadow:inset #000000 0 0 0 1px;
}
div.clskwfslejl{
  background-color:rgba(255,255,255,0.5);
}

/*病院選択*/
.hospital {
  margin: 1em auto;
  padding: 0 1.5em;
  border: 1px solid #ccc;
  text-align: left;
  font-size: 1em;
  line-height: 1.3;
  color: #444;
  overflow: auto; /*overflow: auto;で、dlの高さが10emになるとスクロールバーを表示*/
  width: 60%;
  height: 25em;
  background-color: #fcfcfc;
}
.hospital dl {
  padding: 2em 0;
  border-bottom: 1px solid #ccc;
}
.hospital dt {
  padding-bottom: 0;
  width: 6em;
}
@media screen and (min-width: 480px) {
.hospital dt {
  clear: left;float: left;
}
.hospital dd {
  margin-left: 0.5em;
}
}
.hospital input[type=submit]{
  border: none;
  background: white;
  border-bottom: 1px solid;
  color: blue;
  font-size:20px;
}
