h1{
  color: red;
}

h2{
    font-size: 30px;
    color: #08cbcb;
}
body{
    text-align: center;
}

.form{
  display:inline-flex;
}

.frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
    
  }
  button {
    margin: 20px;
  }
  .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     
    outline: none;
  }
  /*はい*/
  .btn-1{
    height:100%;
    text-decoration: none;
    background:#ba0d0d;
    text-align:center;
    color:#FFFFFF;
    font-size:20px;
    font-weight:bold;
    border-radius:50px;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    
}
.btn-1:hover{
    background:#e01919;
    color:#FFFFFF;
    box-shadow:none;
}
/*いいえ*/
.btn-2{

  text-decoration: none;
  background:#0DA7BA;
  text-align:center;
  color:#FFFFFF;
  font-size:20px;
  font-weight:bold;
  border-radius:50px;
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  
}
.btn-2:hover{
  background:#19CBE0;
  color:#FFFFFF;
  box-shadow:none;
}
/*ホームに戻る*/
.btn-3{
  width: 250px;
  height:100%;
  text-decoration: none;
  background:#0DA7BA;
  text-align:center;
  color:#FFFFFF;
  font-size:20px;
  font-weight:bold;
  border-radius:50px;
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  
}
.btn-3:hover{
  background:#19CBE0;
  color:#FFFFFF;
  box-shadow:none;
}

