h2{
    color:#08cbcb;
}
body{
    text-align: center;
}

.btn_design {
    font-size: 28px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
    padding: 20px 15px;
    background-color: #ffffff;
    color: #000000;
    border: #000000 solid 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* マウスオーバー時 */
.btn_design:hover {
    color: #ffffff;
    background-color: #000000;
    cursor: pointer;
}
.nav-link:hover{

  color: #ffffff;
  background-color: #000000;
  cursor: pointer
}

.container {
display: flex;
align-items:center;
}

.font-small {
font-size: 1rem;
}

.font-large {
font-size: 2rem;
}

.container-wrap {

flex-wrap: wrap;
}

.TextVerticalCenter {
vertical-align: middle;

}


.box2 {
padding: 0.5em 1em;
margin: 2em 0;
font-weight: bold;

background: #FFF;
border: solid 3px #6091d3;/*線*/
border-radius: 10px;/*角の丸み*/
}
.box2 p {
margin: 0; 
padding: 0;
}

.v_line_fix {
margin-left: 100px;
width: 10px;
height: 400px;
background-color: brown;
}

.dotted {
background-image : linear-gradient(to right, #000, #000 2px, transparent 2px, transparent 8px);  /* 幅2の線を作る */
background-size: 8px 2px;          /* グラデーションの幅・高さを指定 */
background-position: left bottom;  /* 背景の開始位置を指定 */
background-repeat: repeat-x;       /* 横向きにのみ繰り返す */
} 