@charset "utf-8";




h2{
    text-align: center;
    color: #fcfcfc;
    background: #08cbcb;
    font-size: 40px;
}

body{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.grovalNavigation{
    height: 70px;
    text-align: center;
    background-color: #000000;
    color: #fff;
}
main{
    min-height: 100vh;
   
    margin-top: 10px;
}
.content{
    flex: 1;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-left: 10px;
}

.localNavigation{
    width: 300px;
    text-align: center;
    background-color: #a1b6b6;
    color: #fff;
}

/*画像*/
.img{
    text-align: center;
}
.img-2{
    height: 500px;
    width: 600px;
}



