

 .img-1{
  height: 700px;
  width: 1000px;
}


   /* バナー本体 */
   .news-banner {
    display: block;
    height: 50px;
    width: 100%;
    background-color: orange;
    overflow: hidden;
  }
  
  /* バナー内コンテンツ */
  .news-banner__content {
    display: inline-block;
    color: #fff;
    padding-left: 100%;
    white-space: nowrap;
    animation: animate-banner 20s linear infinite;
    font-size: 30px;
  }
  
  /* バナー内の要素をすべて選択 */
  .news-banner__content > * {
    display: inline-block;
  }
  
  /* 横にスクロールさせるアニメーション */
  @keyframes animate-banner {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

 
/*画像*/
  .slider_fade > li {
    position: absolute;
    list-style: none;
    visibility: hidden;
    animation: anime_slider_fade 12s 0s infinite;
  }
  .slider_fade > li:nth-of-type(2) {
    animation-delay: 4s;
  }
  .slider_fade > li:nth-of-type(3) {
    animation-delay: 8s;
  }
  
  @keyframes anime_slider_fade {
    0% {
        visibility: visible;
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    33.3% {
        opacity: 1;
    }
    48.3% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
  }
  